---
http_interactions:
- request:
    method: get
    uri: https://jobs.github.com/positions.json?page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '[{"id":"968e56fe-8953-11e3-8119-b80827661b43","created_at":"Fri Feb
        28 02:09:45 UTC 2014","title":"Accounts Supportocat","location":"Remote","type":"Full
        Time","description":"<p>GitHub is looking for full-time Accounts Supportocats
        in the Australia / Asia-Pacific timezones, as well as Europe / Middle East
        / Africa timezones. Basically, we&#39;re good on US business hours.</p>\n\n<p>When
        GitHub users have questions, they email support. We help people as quickly
        <em>and awesomely</em> as possible. Accounts supportocats handle passwords,
        <a href=\"https://help.github.com/articles/setting-up-email-verification\">email
        verification</a>, billing, legal, spam and abuse, <a href=\"https://help.github.com/articles/what-happens-if-my-account-is-locked\">account
        lockouts</a>, fraud, and helping people choose <a href=\"https://github.com/pricing\">plans</a>.
        This requires a logical brain and a spidey sense for problems.</p>\n\n<p>The
        most important characteristic of our support team is that we &lt;3 helping
        developers. GitHub is a place for people to work better, together. Our job
        is to help. Support treats users the way we&#39;d want someone to treat our
        friends.</p>\n\n<p>Supportocats are excellent writers: stellar grammar, charming
        written personality, and the ability to explain complicated things simply.
        We measure our success in swiftness, accuracy, clarity, and the number of
        exclamation points we receive in replies. The occasional use of an animated
        gif may be required.</p>\n\n<h2>You&#39;re good at:</h2>\n\n<ul>\n<li>logic
        and solving puzzles</li>\n<li>advocating and empathizing</li>\n<li>the English
        language</li>\n<li>working remotely</li>\n</ul>\n\n<h2>Extra awesome</h2>\n\n<ul>\n<li>customer
        support experience</li>\n<li>technical experience (QA, documentation, elaborate
        boardgames)</li>\n<li>you&#39;ve read &quot;How to Win Friends and Influence
        People&quot;, despite its odd name</li>\n</ul>\n\n<p><em>Developers: this
        probably isn&#39;t the job for you, but perhaps you have a friend who would
        be a perfect fit. Send them this link. Thanks!</em></p>\n\n<h2>The Company</h2>\n\n<p>We\u2019re
        profitable and growing with a unique perspective on <a href=\"http://www.youtube.com/playlist?list=PL0lo9MOBetEEvPMhIBbegwsXuIih8FP8h\">how
        to run a company</a>. We have great <a href=\"https://github.com/about/jobs\">benefits</a>
        and a safe, open work environment.</p>\n","how_to_apply":"<p>Email <a href=\"mailto:resumes@github.com\">resumes@github.com</a>
        with the subject &quot;Accounts Supportocat&quot; We want our interactions
        with users to be memorable, so please make your email memorable as well. Tell
        us about how you match up to the Supportocat characteristics, and what makes
        you a wonderful person to have around. Please include your GitHub username.
        (It&#39;s OK if you hadn&#39;t signed up before.)</p>\n","company":"GitHub","company_url":"https://github.com","company_logo":"http://github-jobs.s3.amazonaws.com/92b05730-8953-11e3-86ad-4d3c7bd9cb0c.png","url":"http://jobs.github.com/positions/968e56fe-8953-11e3-8119-b80827661b43"},{"id":"db791964-9a7b-11e3-9e37-50aab2577f04","created_at":"Thu
        Feb 20 22:11:29 UTC 2014","title":"API Engineer, Scala","location":"New York,
        NY","type":"Full Time","description":"<p>Meetup is looking for an API Engineer
        to help millions of people around the world find their people.</p>\n\n<p>The
        Meetup API allows members and organizers to write software extensions to their
        local commu[...]
