---
http_interactions:
- request:
    method: get
    uri: https://jobs.github.com/positions.json?page=0&search=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '[{"id":"1087694e-47ed-11e3-8c83-fa2281081e0b","created_at":"Thu Feb
        20 22:21:16 UTC 2014","title":"Systems Administrator","location":"New York
        City","type":"Full Time","description":"<p>We&#39;re starting a local community
        revolution! Our goal is a &quot;Meetup Everywhere about Most Everything&quot;,
        and we&#39;re on our way. We help people &quot;use the internet to get off
        the internet&quot; because Meetups change lives and can change the world.\u2028\u2028We
        are profitable, growing, and committed to building an all-star, all-NYC company.
        We are a company that values doers over talkers and mentors over managers.
        We are a comp[...]
